@mixin header-2() {
  & {
    margin-top: 40px;
    font-size: 30px;
  }

	@media (min-width: $screen-xs-min) {
		& {
			font-size: 40px;
		}
	}

  @media (min-width: $screen-sm-min) {
    & {
      margin-top: 50px;
    }
  }

  @media (min-width: $screen-lg-min) {
    & {
      margin-top: 80px;
      font-size: 50px;
      line-height: 1.1;
    }

    & + p {
      margin-top: 40px;
    }
  }
}

@mixin header-4() {
  & {
		margin-top: 40px;
		margin-bottom: 0;
		font-size: 24px;
		line-height: 1.21;
		@if ($header-4-color) {
			color: $header-4-color;
		}
  }
}