.btn, .btn-primary, .btn-default, .btn-danger {
	& + .btn {
		margin-left: 5px;
	}

	&:hover {
		cursor: pointer;
	}

	&:focus,
	&.focus,
	&:not([disabled]):not(.disabled):active,
	&:not([disabled]):not(.disabled).active {
		box-shadow: none;
	}
}

// @mixin button-variant($background, $border, $hover-background, $hover-border, $active-background, $active-border) {
.btn-primary, .btn-default {
	@include button-variant(#ddd, $body-color);
}

.btn-danger {
	@include button-variant($danger, #fff);
}
