.card {
	& {
		border: 0;
	}

	& + .card {
		margin-top: 20px;
	}
}

.card-title {
	& {
		font-size: 0.940rem;
		font-weight: 600;
	}

	a {
		& {
			text-decoration: none;
			color: $body-color;
		}

		&:hover, &:focus {
			color: $link-hover-color;
		}
	}
}

.card-container {
	&[data-columns]::before {
		content: '1 .col-12';
	}

	.col-12 + .col-12, .card + .card {
		margin-top: 20px;
	}
}

@include media-breakpoint-up(md) {
	.card-container[data-columns]::before {
		content: '2 .col-md-6';
	}
}

@include media-breakpoint-up(lg) {
	.card-title {
		font-size: 1.065rem;
	}

	.card-container[data-columns]::before {
		content: '3 .col-lg-4';
	}
}