#header {
	margin-bottom: 5px;
	padding: 10px 20px;
	background: #fff;
}

#navigation-main {
	a {
		& {
			color: $body-color;
		}

		&:hover, &:focus {
			color: $link-hover-color;
		}
	}
}

@include media-breakpoint-up(sm) {
	#header {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@include media-breakpoint-up(lg) {
	#header {
		padding-left: 40px;
		padding-right: 40px;
	}

	#navigation-main {
		padding: 4px 0;
	}
}