#header {
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff;
}

#navigation-main {
	a {
		& {
			color: $body-color;
		}

		&:hover, &:focus {
			color: $link-hover-color;
		}
	}
}

@include media-breakpoint-up(sm) {
	#header {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@include media-breakpoint-up(lg) {
	#navigation-main {
		padding: 4px 0;
	}
}