.container-fluid {
	width: 1200px;
	max-width: 100%;
	padding: 0;
}

#content-main {
	padding: 0.1px 0;
	background: #fff;
}

// ---------------------------------------------------------------------------
// Content Elemente
.ce-frame {
	padding-left: 20px;
	padding-right: 20px;
}

// Abstaende
.ce-frame--space-before-auto {
	padding-top: 0.1px;
}

.ce-frame--space-after-auto {
	padding-bottom: 0.1px;
}

.ce-frame--space-before-small {
	padding-top: 20px;
}

.ce-frame--space-after-small {
	padding-bottom: 20px;
}

// Farben
.ce-frame--layout-1 {
	background: $body-bg;
}

@include media-breakpoint-up(sm) {
	.ce-frame {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@include media-breakpoint-up(lg) {
	.ce-frame {
		padding-left: 60px;
		padding-right: 60px;
	}
}