.container-fluid {
	width: 1200px;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

@include media-breakpoint-up(md) {
	.container-fluid {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@include media-breakpoint-up(lg) {
	.container-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}
}