#logo {
	& {
		margin: 0 0 10px 0;
	}

	&:hover {
		& {
			cursor: pointer;
		}

		.logo--svg .icon {
			fill: $link-hover-color;
		}

		.logo--title {
			color: $link-hover-color;
		}
	}

	.logo--svg {
		& {
			height: 30px;
		}

		svg {
			height: 100%;
		}

		.icon {
			fill: $body-color;
		}
	}

	.logo--title {
		display: none;
	}
}

@include media-breakpoint-up(sm) {
	#logo {
		& {
			margin: 0;
			padding: 4px 0;
		}

		.logo--svg {
			height: 20px;
		}

		.logo--title {
			display: block;
			padding: 0 10px;
			font-size: 1rem;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}

@include media-breakpoint-up(lg) {
	#logo {
		.logo--svg {
			height: 26px;
		}

		.logo--title {
			padding: 0 15px;
			font-size: 1.35rem;
		}
	}
}