// ---------------------------------------------------------------------------
// Default
.navigation {
	ul {
		@include list-unstyled();
		display: flex;
		flex-wrap: wrap;
	}

	a {
		& {
			display: block;
			text-decoration: none;
		}
	}
}

// ---------------------------------------------------------------------------
// Horizontal
.navigation-horizontal {
	ul {
		margin-left: -10px;
		margin-right: -10px;
	}

	a {
		padding: 5px 10px;
	}
}

@include media-breakpoint-up(lg) {
	.navigation-horizontal {
		ul {
			margin-left: -20px;
			margin-right: -20px;
		}

		a {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}