// ---------------------------------------------------------------------------
// Body
$body-color: #495057 !default;

// ---------------------------------------------------------------------------
// Header
$headings-font-weight: 400 !default;
$headings-line-height: 1.15 !default;

// ---------------------------------------------------------------------------
// Font
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 0.875rem !default;
$font-size-lg: 1rem !default;

// ---------------------------------------------------------------------------
// Links
$link-color: #495057 !default;
$link-hover-color: #111 !default;
$link-decoration: underline !default;

// ---------------------------------------------------------------------------
// Grid columns
$grid-gutter-width: 20px !default;