<div class="container-fluid">

	<ul class="slider">
		<li>
			<h2>Muffin pie chocolate cake chupa chups wafer chocolate bar cheesecake.</h2>
			<p>
				Bonbon caramels biscuit marzipan dessert danish lemon drops cheesecake topping. Chupa chups lollipop tiramisu.
			</p>
			<p>
				Gummi bears wafer sweet roll candy canes. Gummi bears bear claw pastry tiramisu chocolate cake tiramisu. Jelly
				sesame snaps macaroon bonbon chupa chups gummi bears tootsie roll brownie. Wafer sugar plum toffee marshmallow
				cotton candy jelly beans.
			</p>
		</li>
		<li>
			<h2>Oat cake soufflé dragée.</h2>
			<p>
				Biscuit lemon drops jelly-o fruitcake gingerbread powder powder. Cheesecake ice cream tart. Macaroon cake candy.
				Jelly-o marshmallow cake marzipan bonbon dessert chupa chups muffin chupa chups.
			</p>
			<p>
				Lollipop pie donut cake icing lollipop candy canes toffee gummi bears. Jelly beans gummies dragée donut.
			</p>
		</li>
	</ul>

</div>