<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-plax" >
	<tr>
		<td>
			<f:translate key="tx_plax_domain_model_example.title" />
		</td>
		<td>
		{example.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_plax_domain_model_example.email" />
		</td>
		<td>
		{example.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_plax_domain_model_example.description" />
		</td>
		<td>
		{example.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_plax_domain_model_example.state" />
		</td>
		<td>
		{example.state}
		</td>
	</tr>
</table>
</html>