<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="Main">

		<f:comment>
			<div class="api-call--get" data-api-url="{f:uri.action(pageUid: 1, pageType: 1504532915, pluginName: 'Api', controller: 'ExampleApi', action: 'get', arguments: {example: example})}"></div>
			<div class="api-call--get" data-api-url="{f:uri.action(pageUid: 1, pageType: 1504532915, pluginName: 'Api', controller: 'ExampleApi', action: 'get', arguments: {example: 99})}"></div>

			<f:form pageUid="1" pageType="1504532915" pluginName="Api" controller="ExampleApi" action="set" name="example" object="{example}">
				<f:form.textfield class="api-call--data" property="title" />
			</f:form>
		</f:comment>

		<div
			class="api-call--set"
			data-api-url="{f:uri.action(pageUid: 1, pageType: 1504532915, pluginName: 'Api', controller: 'ExampleApi', action: 'set', noCacheHash: 1)}">

			<input type="text" class="api-call--data" name="tx_play_api[example][__identity]" value="{example.uid}" />
			<input type="text" class="api-call--data" name="tx_play_api[example][title]" value="Example Api EA #01" />
		</div>
	</f:section>
</html>