<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="Main">
		<f:flashMessages />

		<ul class="object-listing">
			<f:for each="{examples}" as="example">
				<li>
					<header class="object-listing--header">
						<f:link.action action="show" arguments="{example : example}"> {example.title}</f:link.action>
					</header>

					<div class="object-listing--actions">
						<ul>
							<li>
								<f:link.action action="toJson" arguments="{example: example}">toJson</f:link.action>
							</li>
						</ul>
					</div>
				</li>
			</f:for>
		</ul>
	</f:section>
</html>